body {
  font-family: "Inter", sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-surface);
}

button {
  all: unset;
  cursor: pointer;
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-3xl);
  line-height: 1.2;
}

h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2xl);
  line-height: 1.2;
}

h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  line-height: 1.2;
  margin-block: var(--spacing-3);
}

h4 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-lg);
  line-height: 1.2;
}

h5 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-md);
  line-height: 1.2;
}

h6 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-md);
  line-height: 1.2;
}

p,
span {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-md);
  line-height: 1.6;
}

code,
pre {
  font-family: "Fragment Mono", monospace;
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
}

pre {
  max-width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

code {
  word-break: keep-all;
  border-radius: var(--border-radius-md);
  /* background-color: var(--color-surface-contrast);
  border-width: 1px;
  border-color: var(--color-border);
  border-style: solid;
  padding: var(--spacing-05) var(--spacing-1);
  We have to be more specific for that
  */
}
a > code {
  font-size: 0.9rem;
}

pre > code {
  max-width: 100%;
  line-height: 1rem;
}
